@import "../../scss/custom-variables";

.selection {
    margin-top: 30px;
    margin-bottom: 30px;

    [class^="col-"] {
        padding-left: 3px;
        padding-right: 3px;
    }

    .card {
        padding-top: 35px;
        padding-bottom: 35px;
        margin-bottom: 6px;
        border-radius: 6px; 
    }
}

.green-bg {
    background-color: $fl_green;
    color: white;
}

.skills {
    .card-block {
        padding: 30px;

        h3 {
            color: $fl-green;
            font-weight: 300;
            small {
                color: $fl-red;
                font-size: 14px;
                font-weight: 300;
            }
        }

        ol {
            padding-left: 18px;
        }
    }
}
