@import "../../scss/custom-variables";

.green-bg {
    background-color: $fl_green;
    color: white;
}

.right {
  padding-left: 3px;
}

.left {
  padding-right: 3px;
}

.card {
    padding-top: 35px;
    padding-bottom: 35px;
}
