<!--<div class="container">-->

  <!--<div *ngIf="currentDay.mornCategories.length > 0">-->
    <!--<h3 class="txt-blue home-header">-->
      <!--Availability for {{currentDay.day}} Morning-->
      <!--<br>-->
      <!--<small>Please select up to 3 categories</small>-->
    <!--</h3>-->
    <!--<div class="row">-->
      <!--<div class="col-4" *ngFor="let mornCat of currentDay.mornCategories; let i = index">-->
        <!--<div class="card" [ngClass]="{'green-bg': mornCat.selected}" (click)="selectMornCategory(i)">-->
          <!--<div class="card-block">-->
            <!--<h4>{{mornCat.name}}</h4>-->
            <!--<img [src]="mornCat.imgUrl" alt="">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div *ngIf="currentDay.aftCategories.length > 0">-->
    <!--<h3 class="txt-blue home-header">-->
      <!--Availability for {{currentDay.day}} Afternoon-->
      <!--<br>-->
      <!--<small>Please select up to 3 categories</small>-->
    <!--</h3>-->
    <!--<div class="row">-->
      <!--<div class="col-4" *ngFor="let aftCat of currentDay.aftCategories; let j = index">-->
        <!--<div class="card" [ngClass]="{'green-bg': aftCat.selected}" (click)="selectAftCategory(j)">-->
          <!--<div class="card-block">-->
            <!--<h4>{{aftCat.name}}</h4>-->
            <!--<img [src]="aftCat.imgUrl" alt="">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<div *ngIf="previousDay != null"class="btn btn-primary mt-5" (click)="setPreviousDay()"><i class="fas fa-angle-double-left left"></i>{{previousDay.day}}</div>-->
      <!--&lt;!&ndash;<div *ngIf="currentDay.aftCategories.length > 0"class="btn btn-primary mt-5" (click)="submitCategories()">Next</div>&ndash;&gt;-->
      <!--<div *ngIf="nextDay != null"class="btn btn-primary mt-5" (click)="setNextDay()">{{nextDay.day}}<i class="fas fa-angle-double-right right"></i></div>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->
