<div class="container">

  <div *ngIf="currentDay !== null && currentDay.mornCategories.length > 0">
    <h3 class="txt-green home-header">
      Availability for {{currentDay.day}} Morning
      <br>
      <small>Please select up to 3 categories</small>
    </h3>
    <div class="row">
      <div class="col-4" *ngFor="let mornCat of currentDay.mornCategories; let i = index">
        <div class="card mb-5" [ngClass]="{'green-bg': mornCat.selected}" (click)="selectMornCategory(i)">
          <div class="card-block">
            <h4>{{mornCat.name}}</h4>
            <img [src]="mornCat.imgUrl" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="currentDay !== null && currentDay.aftCategories.length > 0">
    <h3 class="txt-green home-header">
      Availability for {{currentDay.day}} Afternoon
      <br>
      <small>Please select up to 3 categories</small>
    </h3>
    <div class="row">
      <div class="col-4" *ngFor="let aftCat of currentDay.aftCategories; let j = index">
        <div class="card mb-5" [ngClass]="{'green-bg': aftCat.selected}" (click)="selectAftCategory(j)">
          <div class="card-block">
            <h4>{{aftCat.name}}</h4>
            <img [src]="aftCat.imgUrl" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div *ngIf="previousDay != null"class="btn btn-primary" (click)="setPreviousDay()"><i class="fas fa-angle-double-left left"></i>{{previousDay.day}}</div>
      <div *ngIf="saveCategories"class="btn btn-success" (click)="submitCategories()"><i class="far fa-save left"></i>Save</div>
      <div *ngIf="nextDay != null"class="btn btn-primary" (click)="setNextDay()">{{nextDay.day}}<i class="fas fa-angle-double-right right"></i></div>
    </div>
  </div>

</div>
