
.btn-space {
  margin-right: 15px;
  border-radius: 5px
}

.cat-select {
  display: block;
  margin-right: 60px;
  margin-bottom: 1px;
}

select {
  display: block;
  width: 150px;
  height: 44px;
  margin-right: 20px;
}

.input-div {
  margin-top: 20px;
  margin-left: 1px;
  display: flex;
  justify-content: center;
}

.time-of-day {
  margin-top: 25px;
  margin-left: 20px;
}

.day-select-label {
  margin-bottom: 1px;
}

