
  <div>
    <div class="">
      <label class="txt-green add-text-height"><h1 class="txt-blue">Manage Classes</h1></label>
    </div>
    <div class="add-edit-div" *ngIf="classSelectView">
      <button type="button" (click)="newClass()" class="btn btn-primary new">Create New Class</button>
      <h5 class="txt-green or"> or </h5>
      <button type="button" (click)="existingClass()" class="btn btn-primary existing">View Existing Class</button>
    </div>

    <div class="input-div" *ngIf="!classSelectView && !existingClassView">
      <div class="form-group col-xs-4 d-flex flex-column">
        <label class="txt-green txt-group">Name</label>
        <input type="text" placeholder="Ex. 2Q2018" [(ngModel)]="selectedClass.name" class="txt txt-input">
      </div>
      <div class="">
        <button type="button" (click)="createClass()" class="btn btn-primary create-button">Create New Class</button>
      </div>
    </div>
    <div class="select-div" *ngIf="!classSelectView && existingClassView">
      <div class="form-group col-xs-4 d-flex flex-column">
        <label class="txt-green select-class-label">Select Class</label>
        <select class="select-class" id="student" [(ngModel)]="class" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
        </select>
      </div>
      <div class="">
        <button type="button" (click)="existingClass()" class="btn btn-primary existing-button">View Existing Class</button>
      </div>
    </div>
  </div>
  <form [formGroup]="classesAddForm" *ngIf="selectedClass.id != null">
    <div class="select-div">
      <div class="center category-select-div">
        <label for="category" class="txt-green cat-select">Select Category</label>
        <select class="" id="category" formControlName="category">
          <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select>
      </div>
      <div class="center dow-select-div">
        <label for="day" class="txt-green day-select-label">Select Day of Week</label>
        <angular2-multiselect class="day-select" id="day" [data]="daysOfWeek" [(ngModel)]="selectedDays"
                              [settings]="settings"
                              formControlName="days">
        </angular2-multiselect>
      </div>
      <div class="btn-group-toggle time-of-day" >
        <label class="btn-info btn-space" ngbButtonLabel>
          <input type="checkbox" formControlName="morning" ngbButton> Morning
        </label>
        <label class="btn-info btn-space" ngbButtonLabel>
          <input type="checkbox" formControlName="afternoon" ngbButton> Afternoon
        </label>

      </div>
      <div class="add-cat-button">
        <button type="button" (click)="classAdd(classesAddForm)" class="btn btn-success">Save Changes</button>
      </div>
    </div>
  </form>

