<h3 class="txt-blue home-header">
  Welcome to Friend's Life class selection!
</h3>
<div class="form-container">
  <form #formData='ngForm' (ngSubmit)="next(formData)">
    <div>
      <label class="txt-green txt-username">Username</label>
    </div>
    <div class="center input-username">
      <input type="text" placeholder="Username" (ngModel)="username" name="username" class="txt username">
    </div>

    <div>
      <label class="txt-green txt-password">Password</label>
    </div>
    <div class="center input-password">
      <input type="text" placeholder="Password" (ngModel)="password" name="password" class="txt password">
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="validateAndRoute()">Next</button>
    </div>
  </form>
</div>

