
.center {
  text-align: center;
}

label {
  display: inline-block;
}

.txt-green {
  color: #65A542;
}

.txt-blue {
  color: #386387;
}

.btn {
  background-color: #043967;
  border-color: #043967;
  font-color: white;
  width: 125px;
}

.txt-username {
  margin-left: -100px;
  margin-bottom: -10px;
}

.txt-password {
  margin-left: -100px;
  margin-bottom: -10px;
}

.input-username {
  margin-bottom: 10px;
}

.input-password {
  margin-bottom: 50px;
}


