$fl-green: #7ED321;
$fl-blue: #003869;
$fl-grey: #A4A4A4;
$fl-red: #EF0000;
$fl-yellow: #FFD100;

.green-bg {
    background-color: $fl_green;
    color: white;
}

.card {
    padding-top: 35px;
    padding-bottom: 35px;
}