@import "../../scss/custom-variables";

.txt-email {
  margin-left: -225px;
  margin-bottom: -10px;
}

.txt-password {
  margin-left: -200px;
  margin-bottom: -10px;
}

.input-email {
  margin-bottom: 10px;
}

.input-password {
  margin-bottom: 50px;
}


.email {
  border: 1px solid $fl-grey;
  border-radius: 6px;
  width: 275px;
  height: 40px;
}

.password {
  border: 1px solid $fl-grey;
  border-radius: 6px;
  width: 275px;
  height: 40px;
}
