@import "../../../scss/custom-variables";


.green-activity {
    background-color: $fl-green;
    color: #fff;
}

.yellow-activity {
    background-color: $fl-yellow;
    color: #fff;    
}

.red-activity {
    background-color: $fl-red;
    color: #fff;
}

.card {
    padding-top: 35px;
    padding-bottom: 35px;
    
}