<h3 class="txt-blue home-header">System Admin</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card">
        <div class="card-block pointer p-5" routerLink="/friends-life-management/categories">
          <h3>
            Categories
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card">
        <div class="card-block pointer p-5" routerLink="/friends-life-management/activities">
          <h3>
            Activities
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card">
        <div class="card-block pointer p-5" routerLink="/friends-life-management/classes">
          <h3>
            Classes
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card">
        <div class="card-block pointer p-5" routerLink="/friends-life-management/friends">
          <h3>
            Friends
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card">
        <div class="card-block pointer p-5" routerLink="/friends-life-management/export">
          <h3>
            Export
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>