<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid header">
  <nav class="navbar navbar-expand-lg navbar-light w-100 text-right">
    <a *ngIf="isLoggedIn" class="nav-link pointer ml-auto" (click)="logOut()">Logout</a>
  </nav>
  <div class="jumbotron text-center">
    <img src="/assets/FLC_Logo.png" width="140" height="109" alt="">
  </div>
</div>

<div style="text-align:center">
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 text-center">
          Friends Life Community
      </div>
      <div class="col-sm-3 text-left" *ngIf="isLoggedIn">
          <div class="float-right mr-5">
            <a routerLink="/friends-life-management">Admin</a>
            |
            <a routerLink="/friend">Home</a>
          </div>
      </div>
    </div>
  </div>
</footer>