<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid header">
  <nav class="navbar navbar-expand-lg navbar-light w-100 text-right">
    <a *ngIf="isLoggedIn" class="nav-link pointer ml-auto" (click)="logOut()">Logout</a>
  </nav>
  <div class="jumbotron text-center">
    <img src="/assets/FLC_Logo.png" width="140" height="109" alt="">
  </div>
</div>

<div style="text-align:center">
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-light">
  <p>Friends Life Community</p>
</footer>