<p>
  admin works!
</p>
<!--<h2 class="sub-header">Admin Page</h2>-->
<!--<form>-->
  <!--<div class="form-group">-->
    <!--<label>First Name</label>-->
    <!--<input type="text" class="form-control" name="first_name" (ngModel)="firstName" placeholder="First Name">-->
    <!--<label>Last Name</label>-->
    <!--<input type="text" class="form-control" name="last_name" (ngModel)="lastName" placeholder="Last Name">-->
  <!--</div>-->
  <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<label>Last Name</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" class="form-control" name="last_name" (ngModel)="lastName" placeholder="Last Name">&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--<button class="basic-btn" (click)="save()" id="email">Add Friend</button>-->
<!--</form>-->
