<h3 class="txt-green home-header" *ngIf="selection && selection.firstName && selection.lastName">Availability for {{selection.firstName}}<span *ngIf="selection.nickName"> "{{selection.nickName}}"</span> {{selection.lastName}}</h3>
<div class="form-container">
  <h4>Please select the availability days and times:</h4>
</div>
<div class="selection">
  <div class="row">
    <div class="col-2 offset-1">
      <h5>Monday</h5>
    </div>
    <div class="col-2">
      <h5>Tuesday</h5>
    </div>
    <div class="col-2">
      <h5>Wednesday</h5>
    </div>
    <div class="col-2">
      <h5>Thursday</h5>
    </div>
    <div class="col-2">
      <h5>Friday</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2" [ngClass]="{'offset-1': (i%5)===0}" *ngFor="let block of availability; let i = index">
      <div class="card" [ngClass]="{'green-bg': block.itemId}" (click)="dateTimeClicked(block.itemId, i)">
        <div class="card-block">
          {{block.TimeName}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" alert alert-warning " *ngIf="warning ">
  Please choose a day and time.
</div>
<div>
  <button type="button " class="btn btn-primary " (click)="validateAndRoute() ">Next</button>
</div>
