<div class="form-container">
  <form #editCategoryForm='ngForm'>
    <div>
      <div>
        <label class="txt-green add-text-height">
          <h1 class="txt-blue">Manage Categories</h1>
        </label>
      </div>
      <div class="row input-div">
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="selectedCategory.id">
        <div class="form-group col-xs-4 d-flex flex-column">
          <label class="txt-green txt-group">Name</label>
          <input type="text" placeholder="Name" [(ngModel)]="selectedCategory.name" name="name" class="txt txt-input">
        </div>
        <div class="form-group col-xs-4 d-flex flex-column">
          <label class="txt-green txt-group">Description</label>
          <input type="text" placeholder="Description" [(ngModel)]="selectedCategory.description" name="description" class="txt txt-input">
        </div>
        <div class="add-cat-button" *ngIf="selectedCategory.id == null">
          <button type="button" (click)="categoryAdd(editCategoryForm)" class="btn btn-primary">Add Category</button>
        </div>
        <div class="add-cat-button" *ngIf="selectedCategory.id != null">
          <button type="button" (click)="categoryEdit(editCategoryForm)" class="btn btn-success">Save Changes</button>
        </div>
      </div>

    </div>
  </form>
</div>

<div class="container">
  <table class="table table-hover">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    <tr class="table-striped" *ngFor="let category of categories; let idx = index">
      <td>{{category.name}}</td>
      <td>{{category.description}}</td>

      <td *ngIf="!category.imageUrl">
        <label>
          <input type="file" class="button" (change)="detectFile($event, category)">
        </label>
        <button class="button is-primary" [disabled]="!category.imageUpload" (click)="addImage(category)">
          <i class="fas fa-upload"></i>
        </button>

      </td>
      <td *ngIf="category.imageUrl">
        <img [src]="category.imageUrl" class="thumb-img">
        <button class="is-primary" (click)="deleteImage(category)">
          <i class="fas fa-minus-circle"></i>
        </button>
      </td>

      <td>
        <button type="submit" class="btn btn-primary btn-edit" (click)="onCategoryClick(category)">
          <i class="fa fa-pencil-alt"></i>
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-delete" (click)="categoryDelete(category)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </table>
</div>