<div class="form-container">
    <form #editFriendForm='ngForm'>
        <div>
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="selectedFriend.id">
            <div>
                <label class="txt-green add-text-height"><h1 class="txt-blue">Friends</h1></label>
            </div>
            <div class="row input-div">
                <div class="form-group col-xs-4 d-flex flex-column">
                    <label class="txt-green txt-group">Firstname</label>
                    <input type="text" placeholder="Firstname" [(ngModel)]="selectedFriend.firstname" name="firstname" class="txt txt-input">
                </div>
                <div class="form-group col-xs-4 d-flex flex-column">
                    <label class="txt-green txt-group">Lastname</label>
                    <input type="text" placeholder="Lastname" [(ngModel)]="selectedFriend.lastname" name="lastname" class="txt txt-input">
                </div>
                <div class="form-group col-xs-4 d-flex flex-column">
                    <label class="txt-green txt-group">Nickname</label>
                    <input type="text" placeholder="Nickname" [(ngModel)]="selectedFriend.nickname" name="nickname" class="txt txt-input">
                </div>
            </div>

        </div>
    </form>
</div>

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Nickname</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr class="table-striped" *ngFor="let friend of friends" (click)="onFriendClick(friend)">
            <td>{{friend.firstname}} {{friend.lastname}}</td>
            <td>{{friend.nickname}}</td>
            <td>
                <button type="submit" class="btn btn-primary btn-edit" (click)="friendEdit(editFriendForm)">
          <i class="fa fa-pencil-alt"></i></button>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-delete" (click)="friendDelete(editFriendForm)">
          <i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </table>
</div>