<div class="form-container">
    <form #editFriendForm='ngForm'>
        <div>
            <div>
                <label class="txt-green add-text-height"><h1 class="txt-blue">Friends</h1></label>
            </div>
            <div class="row input-div">
                <div class="form-group col-xs-4 d-flex flex-column">
                    <label class="txt-green txt-group">Firstname</label>
                    <input type="text" placeholder="Firstname" [(ngModel)]="selectedFriend.firstName" name="firstName" class="txt txt-input">
                </div>
                <div class="form-group col-xs-4 d-flex flex-column">
                    <label class="txt-green txt-group">Lastname</label>
                    <input type="text" placeholder="Lastname" [(ngModel)]="selectedFriend.lastName" name="lastName" class="txt txt-input">
                </div>
                <div class="form-group col-xs-4 d-flex flex-column">
                    <label class="txt-green txt-group">Nickname</label>
                    <input type="text" placeholder="Nickname" [(ngModel)]="selectedFriend.nickName" name="nickName" class="txt txt-input">
                </div>
              <div class="add-student-button">
                <button type="button" (click)="friendAdd(editFriendForm)" class="btn btn-primary">Add Student</button>
              </div>
            </div>

        </div>
    </form>
</div>

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Nickname</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr class="table-striped" *ngFor="let friend of friends; let i = index">
            <td>{{friend.firstName}} {{friend.lastName}}</td>
            <td>{{friend.nickName}}</td>
          <td *ngIf ="selectedFriend.id != null">
            <input type="text" placeholder="Firstname" [(ngModel)]="selectedFriend.firstName" name="firstName" class="txt txt-input">
          </td>
          <td *ngIf ="selectedFriend.id != null">
            <input type="text" placeholder="Lastname" [(ngModel)]="selectedFriend.lastName" name="lastName" class="txt txt-input">
          </td>
          <td *ngIf ="selectedFriend.id != null">
            <input type="text" placeholder="Nickname" [(ngModel)]="selectedFriend.nickName" name="nickName" class="txt txt-input">
          </td>
            <td *ngIf ="selectedFriend.id == null">
                <button type="submit" class="btn btn-primary btn-edit" (click)="friendEdit(friend)">
          <i class="fa fa-pencil-alt"></i></button>
            </td>
          <td *ngIf ="selectedFriend.id != null">
            <button type="submit" class="btn btn-success btn-edit" (click)="saveChanges()">
              <i class="fa fa-check-square"></i></button>
          </td>
            <td>
                <button type="button" class="btn btn-danger btn-delete" (click)="friendDelete(friend)">
          <i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </table>
</div>
